@keyframes subtle-shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(4px, -4px);
    transform: rotate(3deg);
  }
  50% {
    transform: translate(0, 4px);
    transform: rotate(0deg);
  }
  75% {
    transform: translate(-4px, -4px);
    transform: rotate(-3deg);
  }
  100% {
    transform: translate(0, 0);
    transform: rotate(0deg);
  }
}
@keyframes subtle-shake-no-rotate {
  0% {
    transform: translate(0, 0);
    scale: 100%;
  }
  25% {
    transform: translate(3.5px, -3.5px);
  }
  50% {
    transform: translate(0, 3.5px);
    scale: 110%;
  }
  75% {
    transform: translate(-3.5px, -3.5px);
  }
  100% {
    transform: translate(0, 0);
    scale: 100%;
  }
}
@keyframes subtle-shake-no-rotate-dn {
  0% {
    transform: translate(0, 0);
    scale: 100%;
  }
  25% {
    transform: translate(-2.5px, 2.5px);
  }
  50% {
    transform: translate(0, -2.5px);
    scale: 105%;
  }
  75% {
    transform: translate(-2.5px, 2.5px);
  }
  100% {
    transform: translate(0, 0);
    scale: 100%;
  }
}

.animated-image {
  animation: subtle-shake 10s ease-in-out infinite;
}

.animated-image-up {
  animation: subtle-shake-no-rotate 8s ease-in-out infinite;
}

.animated-image-dn {
  animation: subtle-shake-no-rotate-dn 8s ease-in-out infinite;
}
