* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

/*! Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.975);
  padding: 0.4rem 0.5rem;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebeaeb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo img {
  width: calc(3vh + 15px);
}

nav a {
  margin: 0 calc(1vw);
  font-size: calc(1vw+5px);
  color: #696969;
  font-weight: 500;
}

nav a:nth-child(3) {
  color: #f55f5f;
  font-weight: 600;
}
/*! Header  */

main {
  margin-top: calc(10vh);
}

/*! What You Do  */

/*? up Line  */

.you-do {
  margin: calc(2vh + 10px) calc(2vw + 5px);
}
.up-line,
.bt-line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-L,
.right-L {
  width: 100%;
  height: 1px;
  background-color: #68fd92;
  position: relative;
}

.left-L::before {
  content: "";
  display: block;
  width: 1px;
  height: calc(3vw + 25px);
  background-color: #68fd92;
}

.right-L::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  height: calc(4vw + 20px);
  background-color: #68fd92;
}

.up-line p,
.bt-line p {
  text-wrap: nowrap;
  margin: 0 calc(2vw + 10px);
  text-align: center;
  font-weight: 300;
  font-size: calc(1vw + 8.5px);
  color: #00d83d;
}

/* ?Up line */

/* ? Great service or prod */

.you-do-prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(1vw + 0.5rem);
}
.you-do-prod figure img {
  width: calc(28vw + 50px);
}

.you-prod-details {
  margin-left: calc(2vw + 10px);
}
.you-prod-details h3 {
  font-size: calc(4vw + 10px);
}
.you-prod-details p {
  font-size: calc(1.5vw + 5px);
  font-weight: 300;
}

/* ? Great service or prod */

/*?bottom Line  */

.bt-line {
  position: relative;
}

.bt-line .left-L::before {
  position: absolute;
  top: calc(-3vw + -25px);
}

.bt-line .right-L::before {
  top: calc(-3vw + -25px);
}
/*?bottom Line  */

/*! What You Do  */

.we-do {
  margin: calc(2vh + 10px) calc(2vw + 5px);
}

/*? Up line  */

.we-do .left-L::before {
  background-color: #ff9191;
}

.we-do .right-L::before {
  background-color: #ff9191;
}

.we-do .up-line p,
.we-do .bt-line p {
  color: #d14c4c;
}

.we-do .left-L,
.we-do .right-L {
  background-color: #ff9191;
}

/*? Service Tiles  */

strong {
  font-weight: 800;
}

.service-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(1vw + 0.5rem);
}

.service-tile figure img,
.service-tile figure video {
  width: calc(28vw + 50px);
}

.tile-details {
  margin-left: calc(2vw + 10px);
}

.right-tile .tile-details {
  margin-left: 0;
  margin-right: calc(2vw + 10px);
}

.tile-details h3 {
  font-size: calc(4vw + 10px);
  font-weight: 500;
}
.tile-details p {
  font-size: calc(1.5vw + 5px);
  font-weight: 300;
}
