* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

/*! Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.975);
  padding: 0.4rem 0.5rem;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebeaeb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo img {
  width: calc(3vh + 15px);
}

nav a {
  margin: 0 calc(1vw);
  font-size: calc(1vw+5px);
  color: #696969;
  font-weight: 500;
}

nav a:nth-child(3) {
  color: #f55f5f;
  font-weight: 600;
}
/*! Header  */

main {
  margin-top: calc(10vh);
}

/*! What You Do  */

/*? up Line  */

.you-do {
  margin: calc(2vh + 10px) calc(2vw + 5px);
}
.up-line,
.bt-line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-L,
.right-L {
  width: 100%;
  height: 1px;
  background-color: #68fd92;
  position: relative;
}

.left-L::before {
  content: "";
  display: block;
  width: 1px;
  height: calc(3vw + 25px);
  background-color: #68fd92;
}

.right-L::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  height: calc(3vw + 25px);
  background-color: #68fd92;
}

.up-line p,
.bt-line p {
  text-wrap: nowrap;
  margin: 0 calc(2vw + 10px);
  text-align: center;
  font-weight: 300;
  font-size: calc(1vw + 8.5px);
  color: #00d83d;
}

/* ?Up line */

/* ? Great service or prod */

.you-do-prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(1vw + 0.5rem);
}
.you-do-prod figure img {
  width: calc(28vw + 50px);
}

.you-prod-details {
  margin-left: calc(2vw + 10px);
}
.you-prod-details h3 {
  font-size: calc(4vw + 10px);
}
.you-prod-details p {
  font-size: calc(1.5vw + 5px);
  font-weight: 300;
}

/* ? Great service or prod */

/*?bottom Line  */

.bt-line {
  position: relative;
}

.bt-line .left-L::before {
  position: absolute;
  top: calc(-3vw + -25px);
}

.bt-line .right-L::before {
  position: absolute;
  top: calc(-3vw + -25px);
}
/*?bottom Line  */

/*! What You Do  */

.we-do {
  margin: calc(2vh + 10px) calc(2vw + 5px);
}

/*? Up line  */

.we-do .left-L::before {
  background-color: #fc7474;
}

.we-do .right-L::before {
  background-color: #fc7474;
}

.we-do .up-line p,
.we-do .bt-line p {
  color: #d14c4c;
}

.we-do .left-L,
.we-do .right-L {
  background-color: #fc7474;
}

/*? Service Tiles  */

strong {
  font-weight: 800;
}

.service-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(1vw + 0.5rem);
}

.service-tile figure img,
.service-tile figure video {
  width: calc(28vw + 50px);
}

.tile-details {
  margin-left: calc(2vw + 10px);
}

.right-tile .tile-details {
  margin-left: 0;
  margin-right: calc(2vw + 10px);
}

.tile-details h3 {
  font-size: calc(4vw + 10px);
  font-weight: 500;
}
.tile-details p {
  font-size: calc(1.5vw + 5px);
  font-weight: 300;
}

/*! Section Titles */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(1vh + 2vw);
  font-size: calc(1.5vw + 1vh);
  color: #141414;
}
.section-title img {
  width: calc(3.5vh + 3vw);
  margin-right: 10px;
}

/*! Section Titles */

/*! Projects   */
#projects {
  margin: calc(2vh + 10px) calc(2vw + 2px);
}

/*? Project Grid Styles */
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-sized columns */
  gap: 10px; /* 10px gap between all cells */
  height: calc(40vw + 20vh); /* Overall height of the grid */
  width: 100%; /* Full width of the screen */
}

.left-grid,
.right-grid {
  display: grid;
  height: 100%; /* Full height of the parent container */
  gap: 10px; /* Adds 10px gap between cells in both left and right grids */
}

/* Left Grid Layout */
.left-grid {
  grid-template-rows: 60% 42%; /* Grid1 is slightly larger than Grid2 */
}

/* Right Grid Layout */
.right-grid {
  grid-template-rows: 10% 50% 40%; /* Logo is smallest, Grid3 larger than Grid4 */
}

/* Optional: Styling for text inside the grids */
.grid1,
.grid2,
.grid3,
.grid4,
.logo-grid {
  position: relative;
}

/* Different background colors for each grid cell */
.grid1 {
  background-color: #ffadad; /* Change colors for now, images will replace them later */
}

.grid2 {
  background-color: #ffd6a5;
}

.grid3 {
  background-color: #caffbf;
}

.grid4 {
  background-color: #9bf6ff;
}

.logo-grid {
  background-color: white;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Grid Tiles */

.logo-grid {
  font-size: 1rem;
}

.logo-grid img {
  width: calc(2vh + 2vw);
}

.logo {
  font-size: calc(2vw + 1vh);
  margin-left: 6px;
}

.pr-bt-txt {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: calc(1vh + 1.4vw);
  font-weight: 600;
  padding: calc(0.3vh + 0.4vw) calc(0.5vh + 1vw);
  color: white;
  background-color: #00000078;
  border-radius: 5px;
}

.scroll {
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebeaeb;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.scroll:hover {
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.06),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.08);
}

.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* okay  */
/* Image appearance in the center on hover using background-image */
.scroll::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Image width */
  height: 50px; /* Image height */
  border-radius: 10px;
  background-image: url("https://i.postimg.cc/3wWYCMP7/clipboard-image-1726731986.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show image on hover */
.scroll:hover::after {
  opacity: 1;
}

/** Grid Tiles */

/*? Project Grid Styles */

/*! Projects   */

/*! Services Tiles  */
/*?tiles  */
#services {
  margin: calc(2vh + 10px) calc(2vw + 2px);
}
.link-wrap {
  display: block;
}

.service-tiles {
  margin: calc(1vw + 1.6vh) auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(2vw + 2vh);
}

.servive-tile {
  position: relative; /* Required for absolute positioning of text */
  height: calc(15vw + 12vh); /* Set a fixed height or adjust as needed */
  width: calc(15vw + 12vh); /* Set a fixed height or adjust as needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
  border-radius: calc(0.6vh + 3px);
}

.servive-tile:hover {
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebeaeb;
  border-radius: calc(0.6vh + 3px);
}

.servive-tile img {
  position: absolute; /* Position image absolutely within the div */
  top: 0;
  left: 0;
  width: 100%; /* Make the image cover the div */
  height: 100%; /* Make the image cover the div */
  object-fit: cover; /* Ensure the image covers the div without stretching */
  z-index: -1; /* Send the image behind the text */
  border-radius: calc(0.6vh + 3px);
}

.servive-tile span {
  position: absolute; /* Allows for additional styling if needed */
  bottom: 0;
  font-size: calc(0.9vh + 1vw); /* Adjust font size as needed */
  color: #fff; /* White text color for contrast */
  text-wrap: nowrap;
  padding: calc(0.5vh + 0.3vw); /* Padding around text */
  font-weight: 700;
}

/*?tiles  */
/*! Services Tiles  */

/*! About Section    */
#about-us {
  padding-top: calc(5vw + 1.5vh);
  overflow: hidden;
}
/*? Montage Scroll Images */

.moving-montage {
  width: 100%;
  overflow: hidden; /* Hides the overflowing images */
  position: relative;
}

.first-line {
  display: flex;
  align-items: center;
}

.second-line {
  display: flex;
  align-items: center;
}

.mont-circle,
.mont-square {
  flex-shrink: 0; /* Prevents images from shrinking */
  margin-right: calc(0.2vw + 0.3vh);
}
.mont-circle img {
  border-radius: 50%;
  object-fit: cover;
  width: calc(5vh + 15vw);
}

.mont-square img {
  object-fit: cover;
  width: calc(5vh + 15vw);
  border-radius: calc(0.5vh + 0.35vw);
}

/*? Montage Scroll Images */

/*? Our Story  */

.our-story {
  margin: calc(2vh + 10px) calc(2vw + 2px);
  background-color: white;
  padding: calc(1.5vw) calc(1vw);
  border-radius: 3%;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebeaeb;
  display: flex;
  align-items: flex-start;
  gap: calc(2vw);
  position: relative;
}

.our-story::before {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  top: -32%;
  right: -12%;
  width: calc(20vw + 10vh); /* Adjust the width */
  height: calc(20vw + 10vh);
  z-index: -1;
  background-image: url("https://i.postimg.cc/wBjLGFDT/Untitled-design-29-4-4-1.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}
.our-story::after {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  bottom: -25%;
  left: -5%;
  width: calc(20vw + 10vh); /* Adjust the width */
  height: calc(20vw + 10vh);
  z-index: -1;
  background-image: url("https://i.postimg.cc/RZy4kZH6/Vector-3-1.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}

.left-image {
  position: relative;
}

.left-image::before {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  bottom: -2%;
  right: -4%;
  width: calc(8vw); /* Adjust the width */
  height: calc(8vw);
  z-index: 1;
  background-image: url("https://i.postimg.cc/cHjzHvdw/Logoblack.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}
.left-image img {
  height: calc(10vh + 26vw);
  width: calc(30vw + 2vh);
  border-radius: 7px;
  object-fit: cover;
}

.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-content h4 {
  font-size: calc(2.7vw + 0.5vh);
  color: #ffc506;
}
.story-content p {
  font-size: calc(1.7vw + 0.3vh);
  margin: calc(1vw + 0.2vh);
  color: #3a3a3a;
  font-weight: 400;
}

.quick-links {
  font-size: calc(1.95vw + 0.3vh);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.quick-links a {
  margin: calc(0.2vh + 0.5vw);
  color: #ffc506;
  padding: calc(0.2vh + 0.5vw);
  background-color: #fff6d896;
  border-radius: calc(0.4vw + 0.3vh);
  font-weight: 600;
}

/*? Our Story  */

/*? Featured in */
.featured {
  margin: calc(6vw + 1vh) 0;
  transform: rotate(-7deg);
}
.featured span {
  font-size: calc(2vw + 1vh);
  font-weight: 600;
  margin-left: 1rem;
  color: #3e3e3e;
}

.slider img {
  width: calc(15vw + 5vh);
  height: 100%;
  object-fit: contain;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 120%;
  display: flex;
  background-color: #ffda5d;
  padding: 0.65rem;
  gap: calc(3vw + 2vh);
  overflow: hidden;
  transform: translateX(-10%);
}

.slider {
  padding: 0.5rem 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
/*? Featured in */

/* ? Expertise */

/*! Unmatched Expertise  */
.paper-attorney {
  margin: 1.5rem 0;
  overflow-x: hidden;
}
.centre-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper-attorney img {
  width: clamp(3rem, 10vw, 9rem);
  margin-right: 0.4rem;
}
.paper-attorney h4 {
  font-size: clamp(1.4rem, 5vw, 2.5rem);
}

/* paper div */
.paper-div {
  position: relative;
  margin: clamp(1rem, 13vw, 30rem) 0;
}

@keyframes expandContract {
  0% {
    left: 0;
    width: 100vw;
  }
  50% {
    left: -5vw; /* Move left to simulate expansion */
    width: 110vw;
  }
  100% {
    left: 0;
    width: 100vw;
  }
}

.tear {
  width: 100vw;
  animation: expandContract 12s ease-in-out 100;
}
.tear-bottom {
  position: absolute;
  bottom: calc(-10px + -10vw);
  z-index: -1;
}
.tear-top {
  position: absolute;
  top: calc(-10px + -10vw);
  z-index: -1;
}

.attorney-data {
  z-index: 5;
  color: white;
  background-color: #051020;
  padding: 2rem;
}
.paper-div img {
  width: 100%;
}

/*! Stats Illustratrions   */
.stats-illus {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  gap: clamp(30px, 2vw, 30px);
}

.illu {
}
.illu img {
  width: calc(10vw + 20px);
}

.illu p {
  font-size: calc(1vw + 0.7rem);
}

.illu span {
  font-size: calc(1rem + 5vw);
  font-weight: 600;
  color: #00a36c;
}

/* ? Expertise */

/*? Contact Form  */

.contact-form {
  margin: calc(2vh + 10px) calc(2vw + 2px);
  padding: calc(2vw + 1vh);
  background-color: white;
  border-radius: calc(1vw + 1vh);
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #fdffe3;
  text-align: center;
  position: relative;
}
.contact-form span {
  font-size: calc(2.5vw + 2vh);
  text-align: center;
  font-weight: 600;
  color: #f3bb00;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.contact-form::before {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  top: -20%;
  right: -12%;
  width: calc(20vw + 10vh); /* Adjust the width */
  height: calc(20vw + 10vh);
  z-index: -4;
  background-image: url("https://i.postimg.cc/wBjLGFDT/Untitled-design-29-4-4-1.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}

.contact-form::after {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  bottom: -17%;
  left: -10%;
  width: calc(20vw + 10vh); /* Adjust the width */
  height: calc(20vw + 10vh);
  z-index: -1;
  background-image: url("https://i.postimg.cc/y8XJ7N3x/Vector-11.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}

.contact-form span::before {
  content: "";
  position: absolute;
  bottom: 0; /* Aligns the underline with the bottom of the text */
  left: 4px; /* Starts the line from the bottom left */
  width: 22%; /* Specifies the length of the line */
  height: 2.2px; /* Adjusts the thickness of the underline */
  background-color: #e6cc9a; /* Color of the underline */
}

.callback-form {
  margin: calc(2vw + 2vh) 0;
}

.callback-form::before {
  content: ""; /* Empty content, as we're using background-image */
  position: absolute;
  top: -5%;
  left: -8%;
  width: calc(20vw + 4vh); /* Adjust the width */
  height: calc(20vw + 4vh);
  z-index: 1;
  background-image: url("https://i.postimg.cc/fTSFRD0Q/Untitled-design-77-1.png");
  background-size: contain; /* Ensure the image fits the container */
  background-repeat: no-repeat;
}

.callback-form input {
  display: block;
  font-size: calc(1.6vw + 1.5vh);
  margin: calc(1.8vw + 1vh) auto;
  width: 90%;
  border: none;
  background-color: #fff6d8;
  color: #f3bb00;
  padding: calc(1.2vw + 1vh);
  border-radius: calc(0.5vw + 0.2vh);
  z-index: 3;
}
.callback-form input::placeholder {
  color: #f3bb00;
  font-weight: 600;
}

.callback-form input:nth-child(4) {
  margin: auto;
  font-weight: 600;
  background-color: #f3bb00;
  color: white;
}

.callback-form input:nth-child(4):hover {
  color: #f3bb00;
  background-color: white;
  border: 1px solid #f3bb00;
}

.btn-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: calc(3.5vw + 1vh);
  font-size: calc(2.2vh + 2.2vw);
  color: #f3bb00;
}

/*? Contact Form  */
/*! About Section    */
